main{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.h1{
  font-family: serif;
  font-size: 100px;
  /* font-weight: 900; */
}
.em{
  font-style: italic;
}
maintwoelectricbogaloo{
  position: absolute;
  left:50%;
  top:110%;
  transform: translate(-50% );
  font-size: 25px;
}
